<div class="my-page__menu--icon">
  <%= image_tag "icon/books.png", class: "my-page__menu--icon--img my-page__menu--icon--goal", alt: "menu-icon" %>
  <p class="my-page__menu--text">もくひょう </p>
</div>

<div class="my-page__menu">
  <% if @goals.exists? %>
    <% @goals.first(3).each do |goal| %>
      <a class="js-modal-open my-page__menu--text--goal" href="" data-target="modal-goal<%= goal.id %>-edit">
        <%= goal.category %> </br>
        Lv.<%= goal.level %>
      </a>
      <p>
        ステージ: <%= goal.doc_count %>F</br>
        <% if goal.doc_count = 0 %>
          きろくなし
        <% else %>
          <%= goal.stage.name %>
        <% end %>
      </p>
      <p>つぎのもくひょう:</br>
      <% if goal.documents.exists? %>
        <%= latest_milestone(goal.id) %>
      <% else %>
        <a class="js-modal-open" href="" data-target="modal-new-doc">ぼうけんをきろくする</a>
      <% end %>
      </p>
      <div class="js-goal-show">
        <%= render "goals/edit", goal: goal %>
      </div>
    <% end %>
    <%= collection_select(:goal, :category, @goals.drop(3), :id, :category,
      {prompt: "その他のもくひょう"}, {class: "my-page__menu--js-select-box"}) %></br>
  <% else %>
    <p class="my-page__menu--text--goal">みせってい</p>
  <% end %>

  <a class="js-modal-open my-page__link--modal my-page__link--create-goal" href="" data-target="modal-new-goal">せっていする</a>
  <%= render "goals/new", goal: @goal %>
</div>