<div class="my-page__menu--icon">
  <%= image_tag "icon/books.png", class: "my-page__menu--icon-img", alt: "menu-icon" %>
  <p class="my-page__menu--text">もくひょう </p>
</div>

<div class="my-page__menu">
  <% if goals.exists? %>
    <% goals.first(3).each do |goal| %>
      <a class="js-modal-open my-page__menu--text-goal" href="" data-target="modal-goal<%= goal.id %>-edit">
        <%= goal.category %> </br>
        Lv.<%= goal.level %>
      </a>
      <p>
        ステージ: <%= goal.doc_count %>F</br>
        <% if goal.doc_count != 0 %>
          <%= goal.stage.name %>
        <% else %>
          きろくなし
        <% end %>
      </p>
      <p>つぎのもくひょう:</br>
      <% if goal.documents.exists? %>
        <%= latest_milestone(goal.id) %>
      <% else %>
        <a class="js-modal-open my-page__link--text" href="" data-target="modal-new-doc">ぼうけんをきろくする</a>
      <% end %>
      </p>
    <% end %>
    <!-- モーダルウインドウ -->
    <%= render "goals/new", goal: @goal %>
    <% goals.each do |goal| %>
      <%= render "goals/edit", goal: goal %>
    <% end %>
    <!-- 目標が4つ以上の場合にセレクトボックス表示-->
    <%= collection_select(:goal, :category, goals.drop(3), :id, :category,
      {prompt: "その他のもくひょう"}, {class: "js-menu-goal-select"}) %></br>
  <% else %>
    <p class="my-page__menu--text-goal">みせってい</p>
  <% end %>
  <div class="my-page__menu--link--bottom">
    <a class="js-modal-open  my-page__link--text" href="" data-target="modal-new-goal">せっていする</a>
  </div>
</div>