<div class="my-page__menu--icon">
  <img src="/assets/icon/books.png" alt="menu-icon" class="my-page__menu--icon--img my-page__menu--icon--goal">
  <p class="my-page__menu--text">もくひょう </p>
</div>

<div class="my-page__menu">
  <% if @goals.exists? %>
    <% @goals.first(4).each do |goal| %>
      <a class="js-modal-open my-page__menu--text--goal" href="" data-target="modal-goal<%= goal.id %>-show">
        <%= goal.category %> </br>
        Lv.<%= goal.level %>
      </a>
      <p>
        ステージ: <%= goal.doc_count %>F</br>
        <% if goal.doc_count = 0 %>
          きろくなし
        <% else %>
          <%= goal.stage.name %>
        <% end %>
      </p>
      <p>つぎのもくひょう:</br>
      <% if goal.documents.exists? %>
        <%= latest_milestone(goal.id) %>
      <% else %>
        <a class="js-modal-open" href="" data-target="modal-new-doc">ぼうけんをきろくする</a>
      <% end %>
      </p>
      <div class="js-goal-show">
        <%= render "goals/show", goal: goal %>
      </div>
    <% end %>
  <% else %>
    <p class="my-page__menu--text--goal">みせってい</p>
  <% end %>

  <div class="form-group">
    <%= select_tag 'goal_id', options_from_collection_for_select(@goals, :id, :category),
       include_blank: 'せんたくする', class: 'js-select-box' %>
  </div>

  <a class="js-modal-open my-page__link--modal my-page__link--create-goal" href="" data-target="modal-new-goal">せっていする</a>
  <%= render "goals/new", goal: @goal %>
</div>