<%= form_with model: todo_list do |f| %>
<div class="row">
  <div class="todo-lists__form--edit">
    <div class="form-inline todo-lists__form--area">
      <%= f.date_field :deadline %>
      <%= f.collection_select :goal_id, goals, :id, :category %>
    </div>
    <div class="form-inline todo-lists__form--area todo-lists__form--text">
      <%= f.text_field :body, size: 30 %>
    </div>
    <div class="form-inline todo-lists__form--area">
      <%= f.submit '＋', class: "todo-lists__link--update btn btn-primary btn-sm" %>
      <%= link_to "−", todo_list_path(todo_list.id), class: "todo-lists__link--destroy btn btn-danger btn-sm",
        method: :delete, "data-confirm" => "削除してよろしいですか？", remote: true %>
      <%= link_to todo_lists_path, class: "todo-lists__link--index", remote: true do %>
        <%= image_tag "icon/back-icon.png", class: "todo-lists__icon--back", alt: "back-icon" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<div class="row">
  <div class="todo-lists__icon--area">
  </div>
</div>