<div class="form-group">
  <%= text_field_tag :word, '', class: 'js-text_field', placeholder: 'キーワードけんさく' %>
</div>
<h4 class="js-create-todo-lists__icon">
  <%= collection_select(:goal, :category, @goals, :category, :category, {prompt: "すべて"}, {class: "js-todo-list-search-select"}) %>
  のTodoリスト
  <%= image_tag "icon/create-icon.png", class: "todo-lists__icon--create js-create-todo-lists__icon", alt: "create-icon" %>
</h4>
<%= form_with model: @todo_list do |f| %>
  <div class="todo-lists__form--create js-todo-lists-form">
    <div class="form-inline todo-lists__form--upper">
      <div class="form-group">
        <%= f.date_field :deadline %>
      </div>
      <div class="form-group">
        <%= f.collection_select :goal_id, @goals, :id, :category, {prompt: "もくひょう"} %>
      </div>
    </div>
    <div class="form-group todo-lists__form--text">
      <%= f.text_field :body, size: 35, placeholder: "やることを入力" %>
    </div>
    <div>
      <%= f.submit "ついか", class: "btn btn-primary btn-sm" %>
    </div>
    <p>※きげんは必須ではありません</p>
  </div>
<% end %>
<%= link_to "チェックずみをさくじょ", delete_finished_path, class: "btn btn-danger",
    method: :delete, "data-confirm" => "チェック済みのリストを全て削除してもよろしいですか？", remote: true %>