<div id="list<%= todo_list.id %>-area">
  <div class="row">
    <div class="col-3">
      <% if todo_list.deadline.nil? %>
        <p>なし</p>
      <% else %>
        <%= todo_list.deadline.strftime("%m/%d") %>
      <% end %>
    </div>
    <div class="col-7">
      <% if todo_list.is_finished == true %>
        <p class="todo-lists__finished"><%= todo_list.body %></p>
      <% else %>
        <%= link_to edit_todo_list_path(todo_list.id), class: "todo-lists__link--edit", remote: true do %>
          <p class="todo-lists__not-finished"><%= todo_list.body %></p>
        <% end %>
      <% end %>
    </div>
    <div class="col-2">
      <%= link_to check_todo_list_path(todo_list.id), remote: true do %>
        <% if todo_list.is_finished == true %>
          <%= image_tag "icon/checked-icon.png", class: "todo-lists__icon--check", alt: "check-icon" %>
        <% else %>
          <%= image_tag "icon/not-checked-icon.png", class: "todo-lists__icon--check", alt: "checkbox-icon" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>