<div id="list<%= todo_list.id %>-area">
  <div class="row">
    <div class="col-3">
      <% if todo_list.deadline.nil? %>
        <p>なし</p>
      <% else %>
        <%= todo_list.deadline.strftime("%m/%d") %>
      <% end %>
    </div>
    <div class="col-7">
      <% if todo_list.is_finished == true %>
        <p>
          <del class="todo-lists__finished"><%= todo_list.body %></del>
        </p>
      <% else %>
        <%= link_to edit_todo_list_path(todo_list.id), class: "todo-lists__link--edit", remote: true do %>
          <!-- 未完了かつ期限付きのリストの場合、期限までの期間によって条件分岐-->
          <% if todo_list.deadline.present? %>
            <% case (todo_list.deadline.to_date - Date.current) %>
            <% when 4..nil %>
              <p class="todo-lists__not-finished"><%= todo_list.body %></p>
            <!-- 期限が3日以内または期限超過の場合、背景色が変化 -->
            <% when 1..3 %>
              <div class="todo-lists__nead-deadline">
                <p class="todo-lists__not-finished"><%= todo_list.body %></p>
              </div>
            <% when 0 %>
              <div class="todo-lists__today-deadline">
                <p class="todo-lists__not-finished"><%= todo_list.body %></p>
              </div>
            <% else %>
              <div class="todo-lists__over-deadline">
                <p class="todo-lists__not-finished"><%= todo_list.body %></p>
              </div>
            <% end %>
          <% else %>
            <p class="todo-lists__not-finished"><%= todo_list.body %></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-2">
      <%= link_to check_todo_list_path(todo_list.id), remote: true do %>
        <% if todo_list.is_finished == true %>
          <%= image_tag "icon/checked-icon.png", class: "todo-lists__icon--check", alt: "check-icon" %>
        <% else %>
          <%= image_tag "icon/not-checked-icon.png", class: "todo-lists__icon--check", alt: "checkbox-icon" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>