<div class="col-lg-9 col-md-12 col-sm-12">
  <div class="todo-lists">
    <h3 class="knight message upper-contents">やることをまとめるのよ</h3>
    <div>
      <%= collection_select(:goal, :category, @goals, :category, :category, {prompt: "もくひょう別"}, {class: "my-page__js-select-box"}) %>
    </div>
    <h3>すべてのTodoリスト</h3>
    <%= form_with model: @todo_list do |f| %>
      <div class="todo-lists__form">
        <div class="form-group">
          <%= f.collection_select :goal_id, @goals, :id, :category %>のやることを追加
        </div>
        <div class="form-group">
          <%= f.text_field :body, size: 35, placeholder: "やることを入力" %>
        </div>
        <div class="form-group">
          <label for="inputDeadline">きげん</label>
          <%= f.date_select :deadline %>
        </div>
        <div class="form-btn">
          <%= f.submit 'ついか', class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    <% end %>
    <ul class="js-todo-lists">
      <%= render partial: 'todo_lists/js_todo_lists', collection: @todo_lists, as: "todo_list" %>
    </ul>
  </div>
</div>