<div class="col-lg-6 col-md-6 col-sm-12">
  <div class="card mt-3">
    <%= link_to  document_path(document.id) do %>
        <%= attachment_image_tag document, :document_image, fallback: "sky-block.jpeg",
            size: "200x250", class: "card-img-top", id: "imageArea" %>
    <% end %>
    <div class="card-body doc-card">
      <div class="row">
          <p class="doc-title">
            <%= category_name(document.goal_id) %>のダンジョンにいどんだ！
          </p>
          <p class="doc-body">
            <%= document.body %> </br>
            <%= user.name %>は <%= document.add_level %> レベルアップした！ </br>
          </p>
          <p class="doc-body">
            【つぎのもくひょう】　</br>
            <%= document.milestone %> </br>
            せかいめつぼうまで　のこり <%= timelimit(document.goal_id, document) %>  にち
          </p>
          <p class="doc-bottom">
            <% if current_user.id == document.user_id %>
              <span class="link">
                <%= link_to 'へんしゅう', edit_document_path(document.id) %> ｜
                <%= link_to 'さくじょ', document_path(document.id), method: :delete,
                    "data-confirm" => "削除してよろしいですか？" %>
              </span>
            <% end %>
            <%= document.created_at.strftime('%Y/%m/%d') %>
          </p>
      </div>
    </div>
  </div>
</div>