<div class="my-page img-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-0 col-sm-0">
        <p class="notice-message"><%= notice %></p>
        <div class="profile upper-contents">
          <div class="user-info">
            <div class="status-info">
              <a class="js-modal-open" href="" data-target="modal-user-edit">
              <%= attachment_image_tag @user, :profile_image, size: "40x50", fallback: "brave.png" %>
              <%= @user.name %>
              </a>
              <div id="modal-user-edit" class="modal js-modal">
                <div class="modal-back js-modal-close"></div>
                <div class="modal-content">
                  <%= render 'users/edit', user: @user %>
                  <a class="js-modal-close" href="">閉じる</a>
                </div>
              </div>
            </div>
              <p class="user-level">Lv.<%= @user_level %></p>
              <p class="doc-count">ぼうけん: <%= @documents.count %> 回</p>
              <p class="clear-count">クリア:  回</p>
          </div>
          <div class="cat-info">
            <div class="cat-info-header">
              <a class="js-modal-open" href="" data-target="modal-new-goal">もくひょう</a>
            </div>
            <div id="modal-new-goal" class="modal js-modal">
              <div class="modal-back js-modal-close"></div>
              <div class="modal-content">
              <%= render 'goals/new', goal: @goal %>
              <a class="js-modal-close" href="">閉じる</a>
            </div>
          </div>
              <form name="sort_form" class="select-box">
                <select name="sort" onchange="dropsort()">
                  <option value="">せんたくできます</option>
                  <% @goals.each do |goal| %>
                    <option value="/goals/<%= goal.id %>"><%= goal.category %></option>
                  <% end %>
                </select>
              </form>
              <% user_goals.first(4).each do |goal| %>
                <% if goal.category.present? %>
                  <p class="my-goal">
                  <%= link_to goal_path(goal.id) do %>
                    <%= goal.category %> </br>
                    Lv.<%= category_level(goal.id) %>
                  <% end %>
                  </p>
                <% else %>
                  <p class="my-goal">みせってい</p>
                <% end %>
              <% end %>

            </div>
          </div>
        <div class="side-menu">
          <h3>メニュー</h3>
          <ul>
            <li>todoリスト</li>
            <li>未定</li>
            <li>未定</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12">
        <% if @documents.exists? %>
         <h2 class="master-message upper-contents">これまでのきろくじゃ</h2>
          <div class="document-container">
            <div class="card-deck">
              <div class="row">
                <% @documents_index.each do |document1,document2| %>
                  <%= render 'users/card', document: document1, user: @user %>
                  <% if document2 != nil %>
                    <%= render 'users/card', document: document2, user: @user %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <%= paginate @documents_index %>
          </div>
        <% else %>
          <h2 class="master-message upper-contents">まだきろくはないぞ。</br>
          とうこうしてみるのじゃ！</h2>
        <% end %>
      </div>
    </div>
  </div>
</div>

