<div class="my-page img-fluid">
  <%= render "layouts/level_up_flash" %>
  <%= render "layouts/clear_flash" %>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-0 col-sm-0">
        <p class="my-page__message my-page__message--notice"><%= flash[:notice] %></p>
        <p class="my-page__message my-page__message--alert"><%= flash[:alert] %></p>
        <p class="my-page__menu--logo upper-contents"> M E N U </p>

        <%= render "menu/user_menu" %>
        <%= render "menu/goal_menu" %>

        <div class="my-page__menu--icon">
          <a class="js-modal-open" href="" data-target="modal-new-doc">
            <img src="/assets/icon/save-point.png" alt="menu-icon" class="my-page__menu--icon--img my-page__link--create-doc-img"></br>
            きろくする
          </a>
          <%= render "documents/new", document: @document %>
        </div>

        <!-- ドキュメント作成時にエラーメッセージを表示すると直後の要素がdisplay:none;になるため、対策として空の要素を記載 -->
        <div></div>

        <div class="my-page__menu--icon">
          <%= link_to todo_lists_path, class: "js-switch-link", remote: true do %>
            <img src="/assets/icon/bar-icon.png" alt="menu-icon" class="my-page__menu--icon--img js-switch-image"></br>
            <p class="js-switch-text">Todoリスト</p>
          <% end %>
        </div>
      </div>

      <div class="col-lg-9 col-md-12 col-sm-12 js-switch-area">
        <% if current_user.documents.exists? then %>
         <h3 class="master message upper-contents js-message">これまでのきろくじゃ</h3>
         <div class="js-doc-search">
           <%= collection_select(:goal, :category, @goals, :category, :category, {prompt: "すべてのもくひょう"}, {class: "js-doc-search-select"}) %>
         </div>
         <div class="js-todo-lists-search todo-lists__search form-inline">
          <%= collection_select(:goal, :category, @goals, :category, :category, {prompt: "すべてのもくひょう"}, {class: "js-todo-list-search-select"}) %>
          <%= text_field_tag :word, '', class: 'js-text_field', placeholder: 'キーワードけんさく' %>
        </div>
        <div class="js-card">
          <%= render "users/card", documents: @documents %>
        </div>
        <% elsif @goals.blank? then %>
          <h3 class="master message upper-contents">まずは「もくひょう」をおして</br>
          せっていしてみるのじゃ！</h3>
        <% else %>
          <h3 class="master message upper-contents">つぎは「きろくする」をおして</br>
          とうこうしてみるのじゃ！</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>