<div class="my-page img-fluid">
  <%= render "layouts/level_up_flash" %>
  <%= render "layouts/clear_flash" %>
  <div class="my-page__notice">
    <% if near_deadline_goal_count >= 1 %>
      <div class="my-page__notice--near-deadline">
        <p class="my-page__notice--text">きげんが近いもくひょうが&nbsp;<%= near_deadline_goal_count %>&nbsp;つあります</p>
      </div>
    <% end %>
    <% if today_deadline_goal_count >= 1 %>
      <div class="my-page__notice--today-deadline">
        <p class="my-page__notice--text">きげんが本日のもくひょうが&nbsp;<%= today_deadline_goal_count %>&nbsp;つあります</p>
      </div>
    <% end %>
    <% if over_deadline_goal_count >= 1 %>
      <div class="my-page__notice--over-deadline">
        <p class="my-page__notice--text">きげんぎれのもくひょうが&nbsp;<%= over_deadline_goal_count %>&nbsp;つあります</p>
      </div>
    <% end %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-0 col-sm-0">
        <p class="my-page__message my-page__message--notice"><%= flash[:notice] %></p>
        <p class="my-page__message my-page__message--alert"><%= flash[:alert] %></p>
        <%= render "layouts/side_menu", goals: @goals %>
        <div class="my-page__menu--icon js-todo-list-icon">
          <%= link_to todo_lists_path, class: "js-todo-list-link" do %>
            <%= image_tag "icon/bar-icon.png", class: "my-page__menu--icon-img", alt: "menu-icon" %></br>
            <p class="my-page__link--text">Todoリスト</p>
          <% end %>
        </div>
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12">
        <% if current_user.documents.exists? then %>
          <h3 class="master message upper-contents">これまでのきろくじゃ</h3>
          <div class="doc-card__search">
            <%= collection_select(:doc_goal, :category, @goals, :category, :category, {prompt: "すべてのもくひょう"}, {class: "js-doc-search-select"}) %>
            <%= text_field_tag :doc_word,'', class: 'js-doc-search-field', placeholder: 'キーワードけんさく' %>
            <p>※けんさく結果は最大20件表示されます</p>
          </div>
        <% elsif @goals.blank? then %>
          <h3 class="master message upper-contents">
            まずは「もくひょう」をおして</br>
            せっていしてみるのじゃ！
          </h3>
        <% else %>
          <h3 class="master message upper-contents">
            つぎは「きろくする」をおして</br>
            とうこうしてみるのじゃ！
          </h3>
        <% end %>
        <div class="js-card">
          <%= render "users/card", documents: @documents %>
        </div>
      </div>
    </div>
  </div>
</div>