<div class="my-page">
  <%= render "layouts/level_up_flash" %>
  <%= render "layouts/clear_flash" %>
  <%= render "layouts/deadline_alert.html" %>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-0 col-sm-0">
        <p class="my-page__message my-page__message--notice"><%= flash[:notice] %></p>
        <p class="my-page__message my-page__message--alert"><%= flash[:alert] %></p>
        <%= render "layouts/side_menu", goals: @goals %>
        <div class="my-page__menu--icon js-todo-list-icon">
          <%= link_to todo_lists_path, class: "js-todo-list-link" do %>
            <%= image_tag "icon/bar-icon.png", class: "my-page__menu--icon-img", alt: "menu-icon" %><br>
            <p class="my-page__link--text">Todoリスト</p>
          <% end %>
        </div>
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12">
        <% if current_user.documents.exists? then %>
          <h3 class="master message upper-contents">これまでのきろくじゃ</h3>
          <div class="doc-card__search">
            <%= form_with url: documents_searches_path, method: :get, local: true do |f| %>
              <%= f.collection_select :goal_id, @goals, :id, :category, { prompt: "すべてのもくひょう" } %>
              <%= f.text_field :word, placeholder: 'キーワードを入力' %>
              <%= f.submit "けんさく", class: "btn btn-sm btn-success" %>
            <% end %>
          </div>
        <% elsif @goals.blank? then %>
          <h3 class="master message upper-contents">
            まずは「もくひょう」をおして<br>
            せっていしてみるのじゃ！
          </h3>
        <% else %>
          <h3 class="master message upper-contents">
            つぎは「きろくする」をおして<br>
            とうこうしてみるのじゃ！
          </h3>
        <% end %>
        <%= render "documents/card", documents: @documents %>
      </div>
    </div>
  </div>
</div>