<div class="my-page img-fluid">
  <% if flash[:level_up] %>
    <div class="levelup-back">
      <p class="levelup-text"><%= flash[:level_up] %></p>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-0 col-sm-0">
        <p class="notice-message"><%= flash[:notice] %></p>
        <div class="menu-icon">
            <%= attachment_image_tag @user, :profile_image, size: "100x100", fallback: "brave.png" %>
            <p>しゅじんこう</p>
        </div>
          <div class="menu">
            <p>なまえ: <%= @user.name %></p>
            <p class="user-level">ステータス: Lv.<%= @user_level %></p>
            <p class="doc-count">ぼうけん: <%= @documents.count %> 回</p>
            <p>クリア: ○回</p>
            <a class="js-modal-open" href="" data-target="modal-user-edit">へんしゅう</a>
          </div>
          <div id="modal-user-edit" class="modal js-modal">
                <div class="modal-back js-modal-close"></div>
                <div class="modal-content">
                  <%= render "users/edit", user: @user %>
                  <a class="js-modal-close" href="">閉じる</a>
                </div>
              </div>
          <div class="menu-icon">
            <img src="/assets/books.png" height="100" width="100">
            <p>もくひょう</p>
          </div>
          <div class="menu">
            <% if @goals.exists? %>
                <% user_goals.first(4).each do |goal| %>
                <a class="js-modal-open my-goal" href="" data-target="modal-goal-show">
                      <%= goal.category %> </br>
                      Lv.<%= cat_level(goal.id) %>
                </a>
                <div id="modal-goal-show" class="modal js-modal">
                <div class="modal-back js-modal-close"></div>
                <div class="modal-content">
                  <%= render "goals/show", goal: goal %>
                  <a class="js-modal-close" href="">閉じる</a>
                </div>
              </div>
                <% end %>
              <% else %>
                <p class="my-goal">みせってい</p>
              <% end %>
              <a class="js-modal-open" href="" data-target="modal-new-goal">へんしゅう</a>
              <form name="sort_form" class="select-box">
                <select name="sort" onchange="dropsort()">
                  <option value="">せんたくできます</option>
                  <% @goals.each do |goal| %>
                    <option value="/goals/<%= goal.id %>"><%= goal.category %></option>
                  <% end %>
                </select>
              </form>
          </div>
          <div class="menu-icon">
            <img src="/assets/save-point.png" height="100" width="100">
            <p>きろくする</p>
          </div>

      </div>
      <div class="col-lg-9 col-md-12 col-sm-12">
        <% if @documents.exists? then %>
         <h3 class="master-message upper-contents">これまでのきろくじゃ</h3>
           <%= form_with model: @goal do |f| %>
             <div class="form-group">
               <%= f.select :goal_id, @goals.all.map { |goal| [goal.category, goal.id] }, {include_blank: 'もくひょうでわける'},
                   {class: 'js-select-box'} %>
             </div>
           <% end %>
          <%= render "users/card", documents: @documents_index, document: @document, user: @user %>
        <% elsif @goals.blank? then %>
          <h3 class="master-message upper-contents">「<span class="cat-header">もくひょう</span>」をおして</br>
          せっていしてみるのじゃ！</h3>
        <% else %>
          <h3 class="master-message upper-contents">まだきろくはないぞ。</br>
          とうこうしてみるのじゃ！</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>

