<div class="my-page img-fluid">
  <%= render "layouts/level_up_flash" %>
  <%= render "layouts/clear_flash" %>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-0 col-sm-0">
        <p class="my-page__message my-page__message--notice"><%= flash[:notice] %></p>
        <p class="my-page__message my-page__message--alert"><%= flash[:alert] %></p>
        <p class="my-page__menu--logo upper-contents"> M E N U </p>

        <%= render "menu/user_menu" %>
        <%= render "menu/goal_menu" %>

        <div class="my-page__menu--icon">
          <a class="js-modal-open" href="" data-target="modal-new-doc">
            <img src="/assets/icon/save-point.png" alt="menu-icon" class="my-page__menu--icon--img my-page__link--create-doc-img"></br>
            きろくする
          </a>
          <%= render "documents/new", document: @document %>
        </div>

        <div class="my-page__menu--icon">
          <a class="js-switch-todo_lists" href="">
            <img src="/assets/icon/bar-icon.png" alt="menu-icon" class="my-page__menu--icon--img js-switch-image"></br>
            <p class="js-switch-text">Todoリスト</p>
          </a>
        </div>
      </div>

      <div class="col-lg-9 col-md-12 col-sm-12 js-switch-area">
        <% if current_user.documents.exists? then %>
         <h3 class="master message upper-contents">これまでのきろくじゃ</h3>
          <%= collection_select(:goal, :category, @goals, :category, :category, {prompt: "もくひょうで分ける"}, {class: "my-page__js-select-box"}) %>
          <div class="js-card">
              <%= render "users/card", documents: @documents %>
          </div>
        <% elsif @goals.blank? then %>
          <h3 class="master message upper-contents">まずは「もくひょう」をおして</br>
          せっていしてみるのじゃ！</h3>
        <% else %>
          <h3 class="master message upper-contents">つぎは「きろくする」をおして</br>
          とうこうしてみるのじゃ！</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>