<div class="document-container">
  <div class="row" id="index">
    <% documents.each do |document| %>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card doc-card">
          <div class="doc-card__head">
            <p class="doc-card__head--text">
              <%= document.created_at.strftime('%-m月%-d日') %><br>
              <%= document.goal.category %>のきろく
            </p>
          </div>
          <% if document.document_image_id.present? %>
            <%= attachment_image_tag document, :document_image, class: "doc-card__img" %>
          <!-- 同一目標に関して投稿順がn番目とし、5回投稿するごとにステージが変化 -->
          <!-- n <= 100 かつ n/5 != 0 の場合、モンスターn、モンスターn+1 の2体を表示 -->
          <% elsif within_100_and_not_multiples_of_5?(document.id) then %>
            <div class="doc-card__stage">
              <%= image_tag "stage/stage#{ (doc_number(document.id) / 5) + 1 }.jpg",
                  class: "doc-card__stage--img", alt: "stage-image" %>
              <div class="doc-card__monster--left">
                <%= image_tag "monster/monster#{ doc_number(document.id) }.png",
                    class: "doc-card__monster--img", alt: "monster-image" %>
              </div>
              <div class="doc-card__monster--right">
                <%= image_tag "monster/monster#{ doc_number(document.id) + 1 }.png",
                    class: "doc-card__monster--img", alt: "monster-image" %>
              </div>
            </div>
          <!-- n <= 100 かつ n/5 == 0 の場合、ボスモンスター(n/5) を表示 -->
          <% elsif within_100_and_multiples_of_5?(document.id) then %>
            <div class="doc-card__stage">
              <%= image_tag "stage/stage#{ (doc_number(document.id) / 5) }.jpg",
                  class: "doc-card__stage--img", alt: "stage-image" %>
              <div class="doc-card__monster--boss">
                <%= image_tag "boss/boss#{ doc_number(document.id) / 5 }.png",
                    class: "doc-card__monster--img", alt: "monster-image" %>
              </div>
            </div>
          <!-- n > 100 の場合、以降のステージと登場キャラクターは固定 -->
          <% else %>
            <div class="doc-card__stage">
              <%= image_tag "stage/stage21.jpg", class: "doc-card__stage--img", alt: "stage-image" %>
              <div class="doc-card__monster--boss">
                <%= image_tag "character/brave.png", class: "doc-card__monster--img", alt: "character-image" %>
              </div>
            </div>
          <% end %>
          <div class="card-body doc-card__body">
            <div class="row">
              <p class="doc-card__title">
                <%= document.goal.category %>のダンジョン(&nbsp;<%= doc_number(document.id) %>&nbsp;F&nbsp;)にいどんだ！
              </p>
              <p class="doc-card__body--text">
                <% if document.document_image_id.present? %>
                  <%= document.body %><br>
                <!-- 投稿順をn番目とし、画像の場合と同じ基準で投稿内容が変化 -->
                <% elsif within_100_and_multiples_of_5?(document.id) then %>
                  このステージのボスがあらわれた！<br>
                  <%= document.body %><br>
                  かいしんのいちげき！ボスをたおした！<br>
                <% elsif within_100_and_not_multiples_of_5?(document.id) then %>
                  <%= document.body %><br>
                  モンスターをたおした！<br>
                <% else %>
                  <%= document.body %><br>
                  <%= document.user.name %>はさらに成長した！
                <% end %>
                <%= document.user.name %>は <%= document.add_level %> レベルアップした！
              </p>
              <p class="doc-card__body--text">
                【つぎのもくひょう】<br>
                <%= document.milestone %>
              </p>
              <p>
                <% unless document.goal.level >= 100 %>
                  もくひょうきげんまで&nbsp;のこり&nbsp;<%= timelimit(document.id) %>&nbsp;にち
                <% end %>
              </p>
              <div class="doc-card__bottom">
                <%= link_to edit_document_path(document.id) do %>
                  <%= image_tag "icon/edit-icon.png", class: "doc-card__icon doc-card__icon--edit", alt: "edit-icon" %>
                <% end %>
                <%= link_to document_path(document.id), method: :delete, "data-confirm" => "削除してよろしいですか？" do %>
                  <%= image_tag "icon/delete-icon.png", class: "doc-card__icon doc-card__icon--delete", alt: "delete-icon" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate documents %>
</div>