<div id="modal-new-doc" class="modal js-modal">
  <div class="modal__back js-modal-close"></div>
    <div class="modal__content">
      <div class="new-doc">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-0"></div>
            <div class="col-lg-6 col-md-8 col-sm-12">
              <h3 class="master message upper-contents">ぼうけんをきろくできるぞ</h3>
              <div class="js-message-errors"></div>
              <% if current_user.goals.present? %>
                <%= form_with model: document, remote: true do |f| %>
                  <div class="form-group">
                    <label for="inputSkill">レベルアップしたこと</label></br>
                    <%= f.collection_select :goal_id, current_user.goals, :id, :category %>
                  </div>
                  <div class="form-group mt-2">
                    <label for="inputImage">
                      がぞう
                    </label>
                    <%= f.attachment_field :document_image, class: "form-control-file" %>
                    <p class="sytem-explanation">※必須ではありません</p>
                  </div>
                  <div class="form-group">
                    <label for="inputBody">ぼうけんのないよう</label>
                    <%= f.text_area :body, size: "20x7", class: "form-control", placeholder: "どんなことをしたか" %>
                  </div>
                  <div class="form-group">
                    <label for="inputMilestone">つぎのもくひょう</label>
                    <%= f.text_field :milestone, class: "form-control", placeholder: "つぎのもくひょう" %>
                  </div>
                  <div class="form-group">
                    <label for="inputAddLevel">かくとくレベル</label>
                    <%= f.select :add_level, options_for_select((1..50).to_a), class: "form-control" %>
                  </div>
                  <div class="form-btn">
                    <%= f.submit 'きろくする', class: "btn btn-primary btn-sm" %>
                  </div>
                <% end %>
              <% else %>
                <p class="message">まずはもくひょうをせっていしましょう！</p>
              <% end %>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-0"></div>
          </div>
        </div>
      </div>
      <a class="js-modal-close" href="">閉じる</a>
    </div>
  </div>