<%= form_with model: document, local:true do |f| %>
  <div class="form-group mt-2">
    <label for="inputImage">がぞう</label>
    <%= f.attachment_field :diary_image, class: "form-control-file" %>
  </div>
  <div class="form-group">
    <label for="inputTitle">タイトル</label>
    <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
  </div>
  <div class="form-group">
    <label for="inputBody">ぼうけんのないよう</label>
    <%= f.text_area :body, size: "20x7", class: "form-control", placeholder: "ぼうけんのないよう" %>
  </div>
  <%= f.submit 'きろくする', class: "btn btn-primary btn-sm" %>
 <% end %>
