<div class="doc-edit">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-0"></div>
      <div class="col-lg-6 col-md-8 col-sm-12 user-edit-form">
        <h3 class="master message upper-contents">かきなおすならここじゃ</h3>
        <%= render "layouts/validation_errors", instance: @document %>
        <%= form_with model: @document, local:true do |f| %>
          <div class="form-group">
            <label for="inputSkill">レベルアップしたスキル</label>
            <%= f.collection_select :goal_id, current_user.goals, :id, :category %>
          </div>
          <div class="form-group mt-2">
            <label for="inputImage">がぞう</label>
            <%= f.attachment_field :document_image, class: "form-control-file" %>
          </div>
          <div class="form-group">
            <label for="inputBody">ぼうけんのないよう</label>
            <%= f.text_area :body, size: "20x7", class: "form-control", placeholder: "ぼうけんのないよう" %>
          </div>
          <div class="form-group">
            <label for="inputMilestone">つぎのもくひょう</label>
            <%= f.text_field :milestone, class: "form-control", placeholder: "つぎのもくひょう" %>
          </div>
          <div class="form-group">
            <label for="inputAddLevel">かくとくレベル</label>
            <%= f.select :add_level, options_for_select((1..50).to_a), class: "form-control" %>
          </div>
          <div class="form-btn">
            <%= f.submit 'きろくしなおす', class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-0"></div>
    </div>
  </div>
</div>