<div class="doc-edit">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-0"></div>
      <div class="col-lg-6 col-md-8 col-sm-12 user-edit-form">
        <h2 class="master-message">かきなおすならここじゃ</h2>
        <%= form_with model: @document, local:true do |f| %>
          <div class="form-group">
            <label for="inputSkill">レベルアップしたスキル</label></br>
            <label><%= f.radio_button :title, "#{@skill1}" %><%= @skill1 %></label>
            <% if @skill2.present? %>
              <label><%= f.radio_button :title, "#{@skill2}" %><%= @skill2 %></label>
            <% end %>
            <% if @skill3.present? %>
              <label><%= f.radio_button :title, "#{@skill3}" %><%= @skill3 %></label>
            <% end %>
          </div>
          <div class="form-group mt-2">
            <label for="inputImage">がぞう</label>
            <%= f.attachment_field :diary_image, class: "form-control-file" %>
          </div>
          <div class="form-group">
            <label for="inputBody">ぼうけんのないよう</label>
            <%= f.text_area :body, size: "20x7", class: "form-control", placeholder: "ぼうけんのないよう" %>
          </div>
          <%= f.submit 'きろくしなおす', class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-0"></div>
    </div>
  </div>
</div>