<div class="container about">
  <div class="row about__story">
    <div class="col-12 about__story--col">
      <div class="about__img--left-area">
        <%= image_tag "character/mob.png", class: "about__img", alt: "brave-image" %>
        <p class="about__text--left">
          しゅじんこう<br>
          (みっかぼうず)
        </p>
      </div>
      <div class="about__text--area">
        <h3 class=" message about__text--story">
          「Dot Diary」は、日記形式の<br>
          目標管理アプリです。
        </h3>
        <p class="about__text">
          これは、とある王国の物語...<br>
          まじめな人がたくさん暮らすその国では、<br>
          それぞれが「もくひょう」をもち平和に暮らしていました。
        </p>
        <div class="about__img--area">
          <div class="about__img--monster"></div>
          <div class="about__img--monster"></div>
          <div class="about__img--monster"></div>
          <div class="about__img--monster"></div>
          <div class="about__img--monster"></div>
        </div>
        <p class="about__text">
          しかし、とつぜん現れたモンスターによって王国中の<br>
          「もくひょう」はうばわれ、人々は抜け殻のようになってしまいました。
        </p>
        <p class="about__text">
          王国をはなれていた数人の戦士と、ひとりの「みっかぼうず」をのぞいて...
        </p>
      </div>
      <div class="about__header--area">
        <h1 class="about__header about__header--story">Story</h1>
      </div>
    </div>
  </div>
  <div class="row about__contents">
    <div class="col-12 about__contents--col">
      <div class="about__header--area">
        <h1 class="about__header about__header--contents">Contents</h1>
      </div>
      <div class="about__text--area about__contents--text">
        <h3 class="message about__text--contents">
          まほうの日記...「もくひょう」をきろくすると<br>
          主人公が成長し、モンスターを倒す力が得られる
        </h3>
        <div class="about__contents--screen-area-big">
          <div class="about__contents--screen-area-small">
            <p>1. 「もくひょう」をきろくすると...</p>
            <%= image_tag "screen/newdoc-screen.png", class: "about__contents--screen-img", alt: "screen-image" %>
          </div>
          <div class="about__contents--screen-area-small">
            <p class="about__contents--text-bottom">2. モンスターをたおしてレベルアップ！</p>
            <%= image_tag "screen/doc-screen.png", class: "about__contents--screen-img", alt: "screen-image" %>
          </div>
        </div>
        <p class="about__contents--header-bottom">
          日記の力でモンスターをたおし、王国から<br>
          うばわれた「もくひょう」をとりもどせ！！
        </p>
      </div>
      <div class="about__img--right-area">
        <%= image_tag "character/brave.png", class: "about__img", alt: "brave-image" %>
        <p class="about__text--right">
          しゅじんこう<br>
          (むりやり<br>
          きせられた)
        </p>
      </div>
    </div>
  </div>
  <div class="row about__monster">
    <div class="col-12 about__monster--col">
      <div class="about__img--left-area">
        <%= image_tag "boss/boss9.png", class: "about__img", alt: "monster-image" %>
        <p class="about__monster--img-text">????</p>
      </div>
      <div class="about__text--area about__monster--text-area">
        <h3 class="message about__text--monster">
          全20ステージ、100種類のモンスターが<br>
          きろくをするたび変化する！
        </h3>
        <div class="about__monster--screen-area-big">
          <%= image_tag "screen/stage-screen1.png", class: "about__monster--screen-img", alt: "screen-image" %>
          <%= image_tag "screen/stage-screen2.png", class: "about__monster--screen-img", alt: "screen-image" %>
          <%= image_tag "screen/stage-screen3.png", class: "about__monster--screen-img", alt: "screen-image" %>
          <%= image_tag "screen/stage-screen4.png", class: "about__monster--screen-img", alt: "screen-image" %>
          <%= image_tag "screen/stage-screen5.png", class: "about__monster--screen-img", alt: "screen-image" %>
        </div>
      </div>
      <div class="about__header--area">
        <h1 class="about__header about__header--monster">Monsters</h1>
      </div>
    </div>
  </div>
  <div class="row about__start">
    <div class="col-12 about__start--col">
      <div class="about__header--area">
        <h1 class="about__header about__header--start">How to start</h1>
      </div>
      <div class="about__text--area about__start--text-area">
        <h3 class="message about__text--start">
          ユーザーとうろくをしてはじめましょう！<br>
          SNSアカウントでもとうろくができます！
        </h3>
        <div class="about__start--link-area">
          <%= image_tag "character/witch.png", class: "about__start--img", alt: "witch-image" %>
          <!-- 一部iphone端末で新規登録画面のみ接続エラーが起きる為、turbolinksを無効化 -->
          <%= link_to "はじめてとうろくする方", new_user_registration_path, class: "about__start--link", data: {"turbolinks"=>false} %>
        </div>
        <div class="about__start--link-area">
          <%= link_to "すでにとうろく済みの方", new_user_session_path, class: "about__start--link" %>
          <%= image_tag "character/knight.png", class: "about__start--img", alt: "knight-image" %>
        </div>
        <div class="about__start--link-area">
          <%= image_tag "character/priest.png", class: "about__start--img", alt: "priest-image" %>
          <%= link_to "ゲストユーザーでお試し", users_guest_sign_in_path, method: :post, class: "about__start--link" %>
        </div>
        <p>※ゲストユーザーのデータは1日1回リセットされますので、ご注意下さい</p>
      </div>
      <div class="about__img--right-area">
        <%= image_tag "character/father.png", class: "about__img", alt: "father-image" %>
        <p class="about__start--img-text">
          かみのごかごが<br>
          あらんことを...
        </p>
      </div>
    </div>
  </div>
</div>