<div class="top img-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 top__img">
        <img src="/assets/monster-hand.png" class="top__img--left-hand" alt="left-hand-image">
        <img src="/assets/monster-hand.png" class="top__img--right-hand" alt="right-hand-image">
      </div>
      <div class="col-lg-1 col-md-1 col-sm-0"></div>
      <div class="col-lg-10 col-md-10 col-sm-12">
        <noscript>
          <p class="top__text--noscript">
            このサイトではJavaScriptを使用しています。現在のままでは一部機能が制限されますので、
            以下のサイトを参考に、JavaScriptの設定を有効にした上でご利用ください。
          </p>
          <a href="https://nettv.gov-online.go.jp/comfortably_faq_js.html">
            設定方法はこちら</br>
            （リンク先：政府インターネットテレビ>>JavaScriptの設定方法）
          </a>
        </noscript>
        <h1 class="top__text--main-title">Dot Diary</h1>
        <h3 class="top__text--sub-title">〜みっかぼうずのやぼう〜</h3>
        <ul class="top__link--list">
          <% if user_signed_in? %>
            <li>
              <%= link_to "ぼうけんのきろく", user_path(current_user.id), class: "top__link" %>
            </li>
            <li class="top__link--bottom">
              <%= link_to "ぼうけんをおわる", destroy_user_session_path, method: :delete, class: "top__link"  %>
            </li>
          <% else %>
            <li>
              <%= link_to "あたらしくはじめる", new_user_registration_path, class: "top__link" %>
            </li>
            <li>
              <%= link_to "つづきから", new_user_session_path, class: "top__link" %>
            </li>
            <li class="top__link--bottom">
              <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "top__link top__link--guest" %>
            </li>
          <% end %>
        </ul>

      </div>
      <div class="col-lg-1 col-md-1 col-sm-0"></div>
      <div class="col-12 top__img--chars">
        <img src="/assets/character/priest.png" class="top__img--chars--priest" alt="priest-image">
        <img src="/assets/character/princess.png" class="top__img--chars--princess" alt="princess-image">
        <img src="/assets/character/brave.png" class="top__img--chars--brave" alt="brave-image">
        <img src="/assets/character/witch.png" class="top__img--chars--witch" alt="witch-image">
        <img src="/assets/character/knight.png" class="top__img--chars--knight" alt="knight-image">
      </div>
    </div>
  </div>
</div>
<%= render "homes/about" %>

