<div class="goal-show">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-0"></div>
      <div class="col-lg-6 col-md-8 col-sm-12 goal-post-form">
        <h2 class="master-message upper-contents">もくひょうのかくにんは</br>
        たいせつじゃな</h2>
        <div>
        	<p>レベルアップしたいこと</p>
        	<h3><%= @goal.category %></h3>
        	<p>さいしゅうもくひょう</p>
        	<h3><%= @goal.goal_status %></h3>
        	<p>つぎのマイルストーン</p>
        	<h3><%= @goal.milestone %></h3>
        	<p>マイルストーンのきげん</p>
        	<h3><%= @goal.deadline.strftime('%Y/%m/%d') %></h3>
        	<p>げんざいのレベル</p>
        	<% if @goal.category_level.present? %>
        	  <h3>Lv.<%= @goal.category_level %></h3>
        	<% else %>
        	  <h3>Lv.0</h3>
        	<% end %>
        	<%= link_to "へんこう", edit_goal_path(@goal.id) %>
        </div>
       </div>
    </div>
  </div>
</div>