<% if flash[:clear] %>
  <div class="clear__back">
    <div class="fireworks fireworks-left">
      <%= image_tag "fireworks.png", alt: "flash-image" %>
    </div>
    <div class="fireworks fireworks-center">
      <%= image_tag "fireworks.png", alt: "flash-image" %>
    </div>
    <div class="fireworks fireworks-right">
      <%= image_tag "fireworks.png", alt: "flash-image" %>
    </div>
    <div class="fireworks fireworks-under-right">
      <%= image_tag "red-fireworks.png", alt: "flash-image" %>
    </div>
    <div class="fireworks fireworks-under-left">
      <%= image_tag "red-fireworks.png", alt: "flash-image" %>
    </div>
    <div class="levelup__char">
      <%= image_tag "character/brave.png", alt: "flash-image" %>
      <%= image_tag "character/witch.png", alt: "flash-image" %>
      <%= image_tag "character/priest.png", alt: "flash-image" %>
      <%= image_tag "character/princess.png", alt: "flash-image" %>
    </div>
    <p class="clear__text message"><%= flash[:clear] %></p>
    <p class="levelup__text">LEVELUP!</p>
    <p class="clear__text-bottom knight message">
      もくひょうたっせいおめでとう！<br>
      あなたは立派なゆうしゃよ！！
    </p>
    <a class="js-close-flash clear__link" href="">マイページへもどる</a>
    <div class="js-countdown"></div>
  </div>
<% end %>