<header class="header">
  <h2>
    <%= link_to "Dot Diary", root_path, class: "header__link header__title" %>
    <span class="header__sub-title">〜みっかぼうずのやぼう〜</span>
  </h2>
  <div class="js-menu header__menu">
    <ul class="header__menu--list">
      <% if user_signed_in? %>
        <li>
          <%= link_to "マイページ", my_page_path, class: "header__link" %>
        </li>
        <li>
          <%= link_to "あそびかた", "/about", class: "header__link" %>
        </li>
        <li>
          <%= link_to "プライバシーポリシー", policy_path, class: "header__link" %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__link" %>
        </li>
      <% else %>
        <li>
          <%= link_to "あそびかた", "/about", class: "header__link" %>
        </li>
        <li>
          <%= link_to "あたらしくはじめる", new_user_registration_path, class: "header__link" %>
        </li>
        <li>
          <%= link_to "つづきから", new_user_session_path, class: "header__link" %>
        </li>
        <li>
          <%= link_to "プライバシーポリシー", policy_path, class: "header__link" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="header__trigger--area">
    <a class="js-menu-trigger header__link header__trigger--link" href="">
      MENU
    </a>
  </div>
</header>