<% if flash[:level_up] %>
  <div class="levelup__back">
    <div class="levelup__char">
      <%= image_tag "character/brave.png", alt: "flash-image" %>
      <%= image_tag "character/witch.png", alt: "flash-image" %>
      <%= image_tag "character/priest.png", alt: "flash-image" %>
      <%= image_tag "character/princess.png", alt: "flash-image" %>
    </div>
    <p class="levelup__text"><%= flash[:level_up] %></p>
  </div>
<% end %>