<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Diary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <h2><%= link_to "Portfolio", root_path, class: "header__link" %></h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li>
                <%= link_to "マイページ", user_path(current_user.id), class: "header__link mr-5" %>
              </li>
              <li>
                <%= link_to "あそびかた", "/about", class: "header__link mr-5" %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__link" %>
              </li>
            <% else %>
              <li>
                <%= link_to "あそびかた", "/about", class: "header__link mr-5" %>
              </li>
              <li>
                <%= link_to "あたらしくはじめる", new_user_registration_path, class: "header__link mr-5" %>
              </li>
              <li>
                <%= link_to "つづきから", new_user_session_path, class: "header__link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="footer">
        <p>フッター</p>
    </footer>
  </body>
</html>
